/* 
h3,
p {
  text-align: center;
}

@media (max-width: 750px) {
  .main-container {
    width: 100%;
    margin: auto;
    overflow: scroll;
  }

  main {
    width: 1100px;
  }
  .table {
    background-color: #6366f1;
    color: #152c5b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 5px;
  }
  .table h4 {
    width: 13%;
    font-size: 17px;
    text-align: center;
  }
  .table .description {
    width: 30%;
    text-align: center;
  }

  .table-list-credit,
  .table-list-debit {
    color: #152c5b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #dcdfe9;
    margin-top: 5px;
    height: 70px;
  }
  .table-list-debit {
    background-color: #fff;
  }

  .table-list-credit h4,
  .table-list-debit h4 {
    width: 16%;
    text-align: center;
    font-size: 14px;
  }
  .table-list-credit .description,
  .table-list-debit .description {
    width: 30%;
    text-align: center;
    margin-left: 50px;
  }

  .table-list-credit .status-success,
  .table-list-debit .status-success {
    background-color: #0080008a;
    padding: 15px 3px;
    color: #fff;
  }

  .table-list-credit .status-fail,
  .table-list-debit .status-fail {
    background-color: red;
    padding: 15px 3px;
    color: #fff;
  }
  figure.bal {
    float: right;
    margin-top: 50px;
  }

  
  .main-container::-webkit-scrollbar {
    background-color: #fff;
    height: 5px;
   
  }
  .main-container::-webkit-scrollbar-track {
    box-shadow: 0 3px 15px rgb(0 0 0 / 5%);
  }
  .main-container::-webkit-scrollbar-thumb {
    background-color: #152c5b;

    outline: 1px solid #152c5b;
  }
}

@media (min-width: 750px) {
  main {
    background-color: #fff;
    width: 100%;
  }

  section.table {
    background-color: #6366f1;
    color: #152c5b;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
  }

  .table h4 {
    width: 13%;
    font-size: 17px;
    text-align: center;
  }
  .table .description {
    width: 30%;
    text-align: center;
  }

  .table-list-credit,
  .table-list-debit {
    color: #152c5b;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    background-color: #dcdfe9;
    margin-top: 5px;
  }
  .table-list-debit {
    background-color: #fff;
  }

  .table-list-credit h4,
  .table-list-debit h4 {
    width: 13%;
    text-align: center;
    font-size: 16px;
  }
  .table-list-credit .description,
  .table-list-debit .description {
    width: 30%;
    text-align: center;
    margin-left: 50px;
  }
  .table-list-credit .status-success,
  .table-list-debit .status-success {
    background-color: #0080008a;
    padding: 24px 5px;
    color: #fff;
  }

  .table-list-credit .status-fail,
  .table-list-debit .status-fail {
    background-color: red;
    padding: 24px 5px;
    color: #fff;
  }

  figure.bal {
    float: right;
    margin-top: 50px;
  }
  figure h6 {
    font-size: 20px;
  }
} */

/* @media (max-width: 750px) { */
.history-container {
  box-shadow: 0 3px 15px rgb(0 0 0 / 5%);
  background-color: #ffff;
  /* width: 96vw;
    max-width:96vw ; */
  margin: auto;
  color: #152c5b;
  width: 100%;
  max-width: 94%;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  overflow-x: scroll;
}

.history-table {
  width: 400px;
}
.history-table section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
  /* 
  position: relative;
  text-align: center; */
  /* right: 15vw; */
}
.history-table h4 {
  color: #142c8e;
  font-size: 12.5px;
  text-transform: capitalize;

  overflow: hidden;
  width: 150px;

  max-width: 150px;
  text-align: center;
  word-break: break-all;
  text-align: center;
}

/* .history-table h4.description {
 width: 25%;
  text-align: center;
} */
.table-list-credit h4,
.table-list-debit h4 {
  /* color: #152c5b; */
  color: #152c5b;
  text-align: center;
}
h4.status-success {
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}
h4.status-pending {
  background-color: #152c5b;
  padding: 8px;
  border-radius: 5px;

  color: #fff;
}
h4.status-fail {
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}
/* } */
.bal {
  width: 90%;
  position: relative;
  left: 10%;
}

@media (min-width: 1100px) {
  .history-container {
    max-width: 95%;
    overflow-x: unset;
  }

  .history-table {
    width: 100%;
  }
  .history-table section {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 22px;
    position: relative;
  }
  .history-table h4 {
    color: #142c8e;
    font-size: 13px;
    text-transform: capitalize;
    width: 12.5%;
    /* max-width: 12.5%; */
    text-align: center;
    overflow-x: hidden;
  }

  .history-table h4.description {
    width: 25%;
    /* max-width: 20%; */
    text-align: center;
  }
  .table-list-credit h4,
  .table-list-debit h4 {
    /* color: #152c5b; */
    color: rgb(57, 51, 51);
    text-align: center;
  }
  h4.status-success {
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
  }
  h4.status-pending {
    background-color: #152c5b;
    padding: 10px;
    border-radius: 5px;

    color: #fff;
  }
  h4.status-fail {
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
  }
  .bal {
    width: 50%;
    left: 40%;
    position: absolute;
    color: black;
  }
}
